.header-site{
    color: rgb(214, 143, 12);
    margin-top: 16%;
    margin-bottom: 5%;
}

#bakcgroundImg{
    background-image: url("../img/backgroundImg.jpg");
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.btn.btn-primary{
    background-color: rgb(214, 143, 12);
    color: black;
    width: 300px;
    border: none;
    margin-left: 2%;
}

.btn.btn-primary:hover{
    background-color: black;
    color: rgb(214, 143, 12);
    border: none;
}

#btn-second{
    background-color: black;
    color: rgb(214, 143, 12);
    width: 300px;
    border: none;
}

#btn-second:hover{
    background-color: rgb(214, 143, 12);
    color: black;
    border: none;
}

#corpo{
    text-align: center;
    margin-top: 4%;
    margin-bottom: 2%;
    color: rgb(214, 143, 12);
}

#corpo p{
    font-size: 24px;
}

#corpo2{
    text-align: center;
    margin-top: 1%;
    color: rgb(214, 143, 12);
    margin-left: 2%;
}

#corpo2 h2{
    margin-bottom: 3%;
}

p{
    font-size: 20px;
    color: rgb(214, 143, 12);
}

.posi{
    text-align: right;
}

#back{
    background-color: rgb(56, 39, 8);
}

.juntar{
    text-align: center;
}

.juntar h1{
    margin-left: 2%;
    color: rgb(214, 143, 12);
    padding-top: 1%;
}

#personagem{
    margin-bottom: 1%;
}

#personagem:hover{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#koshi img{
    width: 170px;
}
#yu img{
    width: 300px;
}

#next-Inte{
    width: 200px;
}